.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  margin-bottom: 36px;
  margin-top: 24px;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: white;
  line-height: normal;
}

.header-nav{
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}

.header-links{
  display: flex;
  gap: 16px;
}
