.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  margin-bottom: 36px;
  margin-top: 24px;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: white;
  line-height: normal;
}

.header-nav{
  position: relative;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;

  &.icon-user{
    margin-left: 18px;
  }

  &:after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50%;
  }

  &:last-child:after{
    content: none;
  }
}

.header-links{
  display: flex;
  gap: 36px;
}
